/* <!-- header --> */
#header {
    overflow: hidden;
}

/* <!-- navbar --> */
.header__navbar-wrap {
    position: relative;
    transition: opacity linear 0.25s;
    background-color: var(--background);
}

.header__navbar {
    --height-navbar: 36px;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: var(--height-navbar);
}

.header__navbar-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__navbar-list {
    display: flex;
}

.header__navbar-items {
    --font-size-navbar-items: 1.2rem;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: var(--height-navbar);
    color: var(--text-color);
    font-size: var(--font-size-navbar-items);
    font-weight: 400;
    padding: 0 14px;
}

.header__navbar-items:hover {
    color: rgba(17, 17, 17, 0.6);
}

.header__navbar-items::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    height: calc(var(--font-size-navbar-items) - 1px);
    border-left: 0.1rem solid var(--text-color);
}

.header__navbar-items:first-child::before {
    display: none;
}

.header__navbar-items:last-child {
    padding: 0 0 0 14px;
}

/* <!-- Navbar-menu-help --> */
.header__navbar-menu-help {
    top: var(--height-navbar);
    position: absolute;
    display: none;
    z-index: 6;
    top: 100%;
    right: 0;
    min-width: 240px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    animation: navbar-menu-help ease-out 0.15s;
}

@keyframes navbar-menu-help {
    from {
        transform: translateY(calc(var(--height-navbar) / 2 * -1));
    }

    to {
        transform: translateY(0);
    }
}

.header__navbar-items:nth-child(2):hover .header__navbar-menu-help {
    display: block;
}

.header__navbar-menu-help-title {
    color: var(--text-color);
    margin-bottom: 14px;
}

.header__navbar-menu-help-items {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: var(--text-color-bland);
}

.header__navbar-menu-help-title,
.header__navbar-menu-help-items:hover {
    color: var(--text-color);
    cursor: pointer;
}

/* <!-- End-Navbar-menu-help --> */
/* <!-- End-Navbar --> */

/* <!-- Header-main --> */
.header-main-container {
    width: 100%;
    background: #FFFFFF;
}

.header-main-container.fly {
    position:sticky;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

.header-main {
    position: relative;
    --height-header-main: 60px;
    max-height: var(--height-header-main);
    -webkit-tap-highlight-color: transparent;
}

.header-main__input {
    display: none;
    outline: none;
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    background: var(--background);
    padding-left: 48px;
}

.header-main__wrap {
    width: 100%;
    justify-content: space-between;
    max-height: var(--height-header-main);
}

.header-main__logo-box {
    display: block;
    height: var(--height-header-main);
    overflow: hidden;
    color: #000;
    text-decoration: none;
}

.header-main__logo {
    position: relative;
    top: -16.66667%;
    width: 80px;
    height: 80px;
    margin-left: -5px;
    margin-bottom: -6px;
}

.header-main__logo:hover {
    opacity: 0.6;
}

.header-main__category-list {
    position: relative;
    justify-content: center;
    z-index: 5;
}

.header-main__category-items {
    position: relative;
    line-height: var(--height-header-main);
    padding: 0 14px;
    margin: 0 -2px;
    cursor: pointer;
}

.header-main__category-items::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
    border-bottom: 2px solid transparent;
    transition: ease 0.5s;
}

.header-main__category-items:hover::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border-bottom: 2px solid var(--text-color);
}

.header-main__input-box {
    position: absolute;
    display: flex;
    right: 0;
    z-index: 4;
    justify-content: flex-end;
    align-items: center;
    min-height: var(--height-header-main);
    margin-right: -6px;
}

.header-main__input::placeholder {
    color: #ccc;
}

.header-main__input-box-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
}

.header-main__input-box-icon {
    position: relative;
    z-index: 1;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    transform: translateX(40px);
}

.header-main__input-top-search-title {
    position: absolute;
    left: 0;
    top: 180%;
    font-size: 1.6rem;
    color: var(--text-color-bland);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
}

.header-main__input-top-search-title.focus-search-input {
    visibility: unset !important;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.2s ease, opacity ease 0.2s;
}

.header-main__input-top-search-list {
    position: absolute;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    left: 0;
    top: 180%;
    margin-top: 20px;
    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;
}

.header-main__input-top-search-list.focus-search-input {
    visibility: unset !important;
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.2s ease, opacity ease 0.2s;
}

.header-main__input-top-search-items {
    text-decoration: none;
    font-size: 2rem;
    color: var(--text-color);
    margin-top: 15px;
}

.header-main__input-box-icon,
.header-main__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 8px;
    box-sizing: unset;
}

.header-main__input:hover,
.header-main__input-box-icon:hover,
.header-main__link:hover {
    background: #85858534;
}

.header-main__link {
    position: relative;
    color: var(--text-color);
    text-decoration: none;
}

.header-main__link:last-child {
    display: none;
    width: 24px;
    height: 24px;
}

/* <!-- Category-menu --> */
.header-main__category-menu {
    position: absolute;
    height: 650px;
    animation: category-menu ease 0.2s;
    background: var(--white-color);
    flex-direction: column;
    left: 0;
    right: 0;
    background:var(--white-color);
}

@keyframes category-menu {
    from {
        height: 400px;
        opacity: 0;
    }

    to {
        height: 650px;
        opacity: 1;
    }
}

.header-main__category-menu-wrap {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    transform-origin: top;
    animation: header-main__category-menu-list ease-in-out .3s;
    animation-delay: .1s;
}

.header-main__category-menu-list {
    font-size: 1.6rem;
    margin-top: 30px;
}

@keyframes header-main__category-menu-list {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-main__category-menu-items {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color-bland);
    background: var(--white-color);
    line-height: 30px;
}

.header-main__category-menu-items:hover {
    color: var(--text-color);
}

.header-main__category-menu-items:first-child {
    margin-top: 10px;
}

/* Focus-search-input */
.header-main-container.module {
    animation: header-main-container-no-focus-search-input ease 0.125s;
}

@keyframes header-main-container-no-focus-search-input {
    0% {
        transform: translate(0px, -36px);
    }

    100% {
        transform: translate(0px, 0px);
    }

}

.header-main.focus-search-input {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__navbar-wrap.focus-search-input {
    margin-bottom: 60px;
}

.header-main-container.focus-search-input {
    --min-height: 350px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    animation: header-main_focus-search-input ease-out .5s forwards;
    will-change: height, transform, translate;
}

@keyframes header-main_focus-search-input {
    0% {
        height: 200px;
        transform: translate(0px, 36px);
    }

    30% {
        height: var(--min-height);
    }

    50% {
        transform: translate(0px, 36px);
    }

    100% {
        transform: translate(0px, 0px);
        height: var(--min-height);
    }
}

.header-main__input.focus-search-input {
    position: relative;
    right: 0;
    flex: 1;
    animation: header-main__input-focus-search-input ease-out 0.16s forwards;
    transform-origin: center;
}

@keyframes header-main__input-focus-search-input {
    from {
        width: 180px;
    }

    to {
        width: 50vw;
    }
}

.header-main__input-box.focus-search-input.module {
    animation: header-main__input-box_focus-search-input linear 0.16s forwards;
}

@keyframes header-main__input-box_focus-search-input {
    from {
        right: 0;
    }

    to {
        right: 21vw;
    }
}

.header-main_cancel-btn {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    margin-left: auto;
    background: var(--white-color);
    color: var(--text-color);
    margin-top: 12px;
    animation: header-main_cancel-btn ease-in-out 0.2s;
}

@keyframes header-main_cancel-btn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        font-weight: 500;
        transform: scale(1.1);
    }
}
/* End-Focus-search-input */

/* No-focus-search-input */
.header-main__input-box.no-focus-search-input {
    animation: header-main__input-box_no-focus-search-input ease .4s forwards;
}

@keyframes header-main__input-box_no-focus-search-input {
    from {
        right: 21vw;
    }

    to {
        right: 0;
    }
}

.header-main__input.no-focus-search-input {
    animation: header-main__input-no-focus-search-input linear 0.1s forwards;
    transform-origin: center;
}

@keyframes header-main__input-no-focus-search-input {
    from {
        width: 50vw;

    }

    to {
        width: 180px;

    }
}
/* End-No-focus-search-input */

/* <!-- Sub-header-content --> */
.sub-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: var(--background);
    height: 58px;
}

.sub-header-content__title {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.sub-header-content__text {
    font-size: var(--font-size-sub-header-content__text);
}

.sub-header-content__link {
    font-size: var(--font-size-sub-header-content__text);
    color: var(--text-color);
}
/* <!-- End-Sub-header-content --> */
/* <!-- End-Header-main --> */

/* <!-- Content --> */
/* <!-- Banner-head --> */
.banner-head {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
}

.banner-home__img:nth-child(3) {
    display: none;
}
/* <!-- End-Banner-head --> */

/* <!-- Stall --> */

/* base.css */

/* <!-- End-Stall --> */

/* <!-- Gear-up --> */
.gear-up {
    margin-top: 80px;
}

.gear-up__title {
    margin-bottom: 20px;
}

.gear-up-img {
    width: 100%;
}

.gear-up__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    font-size: 1.6rem;
    margin-top: 50px;
}

.gear-up__content-text {
    color: inherit;
    font-size: inherit;
}

.gear-up__content-title {
    color: inherit;
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -7px;
    margin-top: 4px;
}

.gear-up__content-title-sub {
    color: inherit;
    font-size: inherit;
    margin: 25px 0;
}
/* <!-- End-Gear-up --> */

/* <!-- Dont-miss --> */
.dont-miss {
    position: relative;
    color: var(--text-color);
    margin-top: 85px;
    overflow: hidden;
}

.dont-miss__title {
    margin-bottom: 20px;
}

.dont-miss__banner {
    width: 100%;
}

.dont-miss__btn {
    color: var(--white-color);
    background-color: var(--text-color);
}
/* <!-- End-Dont-miss --> */

/* <!-- Category --> */
.category {}

.category__title {
    margin-bottom: 20px;
}

.category__items {
    position: relative;
}

.category__img {
    display: block;
    width: 100%;

}

.category__btn {
    position: absolute;
    bottom: 10%;
    left: 14%;
    color: var(--text-color);
    background: var(--white-color);
    width: unset;
    padding: 0 15px;
}

.category__btn:hover {
    background-color: #cecece;
}

/* <!-- End-Category --> */

/* <!-- Category-2 --> */
.category-2 {
    margin: 120px 0;
}

.category-2__wrap {
    display: flex;
    justify-content: center;
}

.category-2__title {
    position: relative;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--text-color);
}

.category-2__title-close-btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: transparent;
    border: 0;
}

.category-2__title-close-btn.show {
    display: block;
}

.category-2__column {
    display: flex;
    flex-direction: column;
}

.category-2__list {
    min-width: 13vw;
    list-style: none;
    font-size: 1.8rem;
    color: var(--text-color);
}

.category-2__list-2 {
    transition: opacity ease 1s;

}

.category-2__items {
    font-size: 1.7rem;
    color: var(--text-color-bland);
    font-weight: 300;
    margin-bottom: 10px;
    cursor: pointer;
}
/* <!-- End-Category-2 --> */
/* <!-- End-Content --> */

/* <!-- Footer --> */
.footer {
    background: var(--text-color);
    padding-top: 40px;
    padding-bottom: 15px;
    width: 100%;
}

.footer__wrap {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

/* <!-- About --> */
.footer__about-nike-list {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}

.footer__about-nike-list:first-child {
    padding-left: 10px;
}

.footer__about-nike-title {
    display: block;
    text-transform: uppercase;
    text-decoration: inherit;
    font-size: 1.35rem;
    font-weight: 700;
    color: rgb(226, 226, 226);
    padding-bottom: 20px;
    letter-spacing: 0.02rem;
}

.footer__about-nike-text {
    display: inline-flex;
    text-decoration: inherit;
    font-size: 1.2rem;
    color: var(--text-color-bland);
    padding-bottom: 12px;
    transform: translateY(-8px);
}

/* <!-- End-About --> */

/* <!-- Location --> */
.footer__location {
    padding-top: 10px;
    font-size: 1.1rem;
}

.footer__location-content {
    display: inline-block;
    font-size: inherit;
    text-decoration: inherit;
}

.footer__location svg {
    margin-bottom: -2px;
    margin-right: 5px;
}

.footer__location-content:first-child {
    text-align: center;
    color: var(--white-color);
    font-weight: 700;
    padding-right: 20px;
    padding-left: 0px;
}

.footer__location-content:last-child {
    font-size: 1.2rem;
    color: var(--text-color-bland);
}

/* <!-- Location --> */

/* <!-- Contact --> */
.footer__contact-nike {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 260px;
}

.footer__contact-nike-social-icon svg {
    margin: 0 6px;
    fill: #7e7e7e;
    border-radius: 50%;
}

.footer__contact-nike-social-icon a {
    text-decoration: none;
}

.footer__contact-nike-social-icon svg:hover {
    fill: var(--white-color)
}

.footer__contact-nike-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--text-color-bland);
    margin-left: 16px;
}

.footer__contact-nike-link:hover,
.footer a:hover,
.footer svg {
    color: var(--white-color);
}

.footer__contact-nike-guides-menu {
    position: relative;
    overflow: hidden;
    width: 40vw;
    max-width: 600px;
    max-height: 180px;
    padding: 20px 30px;
    margin-bottom: 10px;
    background: var(--text-color);
    border: 2px solid #eee;
    border-bottom: 3px solid #eee;
}

.footer__contact-nike-guides-menu-list {
    list-style: none;
    font-size: 1.2rem;
    color: var(--text-color-bland);
}

.footer__contact-nike-guides-menu-items {
    font-size: inherit;
    color: inherit;
}

.footer__contact-nike-guides-menu-items+.footer__contact-nike-guides-menu-items {
    margin-top: 15px;
}
/* <!-- End-Contact --> */
/* <!-- End-Footer --> */